# Environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# JetBrains setting files
.idea

# VS Code
.vscode

# Project specific
wishlist-backend-linux-arm64

# Frontend public folder
pb_public

# SQLite
auxiliary.db
data.db
*.db-shm
*.db-wal